#
# File: hosts - Inventory file for Hoodie role
#
# NB: Change '0.0.0.0' to appropriate hostname or IP address of Hoodie server
# Note that the private key reference and localhost entry are required for
# EC2 instance use

[localhost]
127.0.0.1 ansible_python_interpreter=~/.virtualenvs/ansible/bin/python

[hoodie]
0.0.0.0 hoodie_admin=hoodie ansible_ssh_user=hoodie ansible_ssh_private_key_file=~/.ssh/hoodie_id
